.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    z-index: 1000;
    color: white !important;
}

.left-navbar{
    font-family: "Paytone One", serif;
    font-weight: 400;
    font-style: normal;
    color: white !important;
    text-decoration: none !important;
    font-size: 40px;
}

.navbar-text{
    padding: 10px;
}